* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

// Utilities
@import 'colors';
@import 'button';

// Components
@import 'navbar';
@import 'jumbotron';
@import 'services';
@import 'statistic';
@import 'collections';
@import 'testimonials';
@import 'footer';

@import 'responsive';