.collections {
    margin: 10rem 0;


    a {
        text-decoration: none;
        color: #000;
    }

    &-detail {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        &-left {
            h5 {
                font-size: 20px;
                font-weight: 500;
            }
        }

        &-right {
            color: #0A9F82;
            font-weight: 500;
            font-size: 20px;
        }
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        a {
            color: #fff;
        }

        &-left {
            h2 {
                &::before {
                    content: '';
                    display: block;
                    width: 20%;
                    height: 3px;
                    background-color: $secondary;
                    border-radius: 100px;
                    margin-bottom: .5rem;
                }
            }
        }
    }

    &-type {
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem 1rem;
        background-color: #fff;
        border-bottom-right-radius: 1rem;
        z-index: 10;
    }

    &-box {
        position: relative;
        border-radius: 1rem;
        transition: all 0.3s ease;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.2);
            }
        }

        img {
            transition: all 0.3s ease;
            width: 100%;
            border-radius: 1rem;
            aspect-ratio: 2/3;
        }
    }

    &-image {
        overflow:hidden;
        border-radius: 1rem;
    }
}