.jumbotron {
    padding: 10rem 0rem;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/background-hero.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: $primary;
    background-size: 80%;
    color: #fff;

    &-text {
        width: 40%;
    }

    p {
        color: $secondary-text-light;
        margin: 2rem 0px;
    }

    form {
        display: inline-flex;
        align-items: flex-end;
        gap: 1rem;
        padding: 2rem;
        background-color: #fff;
        color: $primary-text;
        border-radius: 0.5rem;
    }

    select {
        padding: 0.5rem 1rem;
        border: none;
        border-right: 1rem solid $secondary-div;
        outline: none;
        background-color: $secondary-div;
        font-weight: 600;
        border-radius: 0.5rem;
    }

    label {
        display: inline-flex;
        flex-direction: column;
        font-weight: 400;
    }

    .btn-primary {
        background-color: $secondary;
        text-decoration: none;
        color: #fff;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
    }
}
