.navbar {
    padding: 2rem 1rem;
    background-color: $primary;
    transition: all 0.3s ease;

    &-collapse {
        gap:1rem;
    }

    &-nav {
        gap: 1rem;
    }

    &-brand {
        &:hover {
            color: #fff !important;
        }
    }

    a.btn-primary {
        &:hover {
            color: #fff !important;
        }
    }

    a {
        color: #fff !important;
        transition: all 0.3s ease;

        &:hover {
            color: $secondary !important;
        }
    }

    span {
        color: $secondary;
    }

    &-brand {
        font-weight: 700;
    }

    &-button {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.scrolled {
    background-color: #fff !important;
    box-shadow: 0px 5px 25px rgba($color: #000, $alpha: 0.2);

    a {
        color: $primary-text !important;
    }

    .btn-primary {
        color: #fff !important;
    }
}