@media screen and (max-width: 992px) {
    .jumbotron {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-text {
            width: 80%;
            margin: auto;
        }

        form {
            flex-direction: column !important;
            // justify-content: center;
            // align-items: center;

            & > * {
                width: 100% !important;
            }

            select {
                display: block;
                width: 100% !important;
            }

            option {
                font-size: 12px;
                max-width: 50% !important;
            }
        }
    }

    .navbar {
        &-collapse {
            flex-direction: column;
            text-align: center;
        }
    }

    .services {
        ol {
            li {
                width: 100%;
            }
        }

        &-left {
            padding: 0 2rem;
        }

        &-right {
            margin-top: 5rem;
        }
    }

    .statistic {
        &-col {
            padding: 2rem 0;
        }

        #statistic-center {
            border: none;
            border-top: 2px solid #cecece;
            border-bottom: 2px solid #cecece;
        }
    }

    .collections {
        &-heading {
            flex-direction: column;
            text-align: center;

            h2 {
                &::before {
                    margin: auto;
                    margin-bottom: 1rem;
                }
            }
        }

        padding: 2rem;

        &-box {
            margin: 2rem 0;
        }

        &-detail {
            justify-content: space-between;
        }
    }

    .testimonials {
        &-heading {
            padding: 2rem;
        }

        &-box {
            margin: 2rem;
            padding: 2rem;
        }
    }

    .footer {
        &-top {
            display: flex;
            flex-direction: column;
        }

        &-left {
            color: $primary-text;
        }

        &-contact {
            padding: 1rem 2rem;
            flex-direction: column;
            gap: 1rem;
        }

        &-bottom {
            text-align: center;
            flex-direction: column;
            padding: 0;
        }
    }
}
