.statistic {
    background-color: #F5F6F8;
    padding: 2rem 0;

    &-col {
        text-align: center;
    }
}

#statistic-center {
    border-left: 2px solid #cecece;
    border-right: 2px solid #cecece;
}